# =========================
# IDE
# =========================

.idea/
.vscode/
*.iml

# =========================
# Python / Django
# =========================

__pycache__/
*.py[cod]
*.sqlite3
.venv/
venv/

# =========================
# Node / React
# =========================

node_modules/
dist/
build/

# =========================
# Environment
# =========================

.env
.env.*
!.env.example

# =========================
# Logs
# =========================

*.log

# =========================
# OS
# =========================

.DS_Store
Thumbs.db
